---
layout: default
---

<div class="container">
  <div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.image %}
      {% if page.hideTnPost %}
      {% else %}
      <img src="{{ page.image | relative_url | escape }}" class="postthumbnail" alt="{{ page.image_alt | default: '' | escape }}">
      {% endif%}
      <br>
    {% endif %}
    <span class="post-info">
      <span class="post-date">
        <i class="fa fa-calendar"></i>
        <time class="entry-date published" datetime="{{ page.date | date_to_xmlschema}}">
          {{ page.date | date: "%Y-%m-%d" }}
        </time>
      </span>
      <span class="post-category">
        {% for category in page.categories %}
        <i class="fa fa-folder"></i>
        <a class="post-category-link" href="{{ '/category/' | append: category | relative_url | escape }}">
          {{ category }}
        </a>
        {% endfor %}
      </span>
    </span>
    {{ content }}
  </div>

  {% include related-posts.html %}
</div>